{% load staticfiles %}

<!-- Begin footer -->
<footer class="pgl-footer">
    <div class="container">
        <div class="pgl-upper-foot">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Contact detail</h2>
                    <p>Pellentesque nec erat. Aenean semper, neque non faucis. Malesuada, dui felis tempor felis, vel varius ante diam ut mauris.</p>
                    <address>
                        <i class="fa fa-map-marker"></i> Office : 1-800-666-8888<br>
                        <i class="fa fa-phone"></i> Mobile : 0800-666-6666<br>
                        <i class="fa fa-fax"></i> Fax : 1-800-666-8888<br>
                        <i class="fa fa-envelope-o"></i> Mail: <a href="mailto:pixelgeklab@gmail.com">Pixelgeklab@gmail.com</a>
                    </address>
                </div>
                <div class="col-sm-2">
                    <h2>Useful links</h2>
                    <ul class="list-unstyled">
                        <li><a href="#">Help and FAQs</a></li>
                        <li><a href="#">Home Price</a></li>
                        <li><a href="#">Market View</a></li>
                        <li><a href="#">Free Credit Report</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Community Guidelines</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h2>Pages</h2>
                    <ul class="list-unstyled">
                        <li><a href="#">Font &amp; Color</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">404 Page</a></li>
                        <li><a href="#">Advanced Search</a></li>
                        <li><a href="#">Property Custom Field</a></li>
                        <li><a href="#">Google Map</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h2>Don’t miss out</h2>
                    <p>In venenatis neque a eros laoreet eu placerat erat suscipit. Fusce cursus, erat ut scelerisque condimentum, quam odio ultrices leo.</p>
                    <form class="form-inline pgl-form-newsletter" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter your email here">
                        </div>
                        <button type="submit" class="btn btn-submit"><i class="icons icon-submit"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="pgl-copyrights">
            <p>Copyright © 2014 RealEstast. Designed by <a href="http://pixelgeeklab.com/">PixelGeekLab</a></p>
        </div>
    </div>
</footer>
<!-- End footer -->